@import "tailwindcss";

@theme {
  --color-text-primary: #FFFFFE;
  --color-text-secondary: #94A1B2;
  --color-primary-dark: #583EA8;
  --color-primary-main: #7F5AF0;
  --color-primary-light: #987BF3;
  --color-secondary-dark: #1E7F57;
  --color-secondary-main: #2CB67D;
  --color-secondary-light: #56C497;
  --color-background-dark: #0F0F12;
  --color-background-main: #16161A;
  --color-background-light: #242629;
  --color-divider-dark: #67707C;
  --color-divider-main: #94A1B2;
  --color-divider-light: #A9B3C1;
};

/* width */
::-webkit-scrollbar {
  width: 8px;
}

body {
  min-width: 300px;
}

body *::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
